@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* =========================================
   1. VARIABLES & CORE
========================================= */
:root {
  --bg: #1e1e1e;
  --surface: #1e1e1e;
  --surface-2: #2d2d2d;
  --surface-3: #383838;
  --primary: #b71c1c;
  --primary-hover: #d32f2f;
  --text: #e0e0e0;
  --text-muted: #9e9e9e;
  --border: #444444;
  --link: #90caf9;
  --link-hover: #bbdefb;
  --icon: #FF0000;
  --warn: orange;

  --wm-logo: url("https://raw.githubusercontent.com/tomilovsenya/Wikimapia_DarkTheme/refs/heads/main/res/Wikimapia_logo.svg");
}

/* =========================================
   PHOTO UPLOAD IFRAME
========================================= */

body * {
  color: var(--text);
  font-family: "PT Sans", sans-serif;
}

span, a, li { text-shadow: none; }

ul.edit-object-breadcrumb,
div#fileupload form *:not(span, button, input),
h2,
fieldset {
  background-color: var(--surface-2);
  color: var(--text);
}

span#add-files,
button {
  background-color: var(--primary);
  opacity: 100%;
  &:hover {
    background-color: var(--primary-hover);
  }
}

input#urlfiles_rewritable {
  background-color: var(--surface-3);
}

/* Icons */
*::before {
  font-family: "Material Symbols Outlined";
  font-size: 18px;
  font-weight: 100;
  color: var(--text);
}

a#refresh {
  background: none;
  border: none;
  &::before {
    content: "\e5d5";
    color: var(--icon);
  }
}

span#add-files {
  background-image: none;
  display: inline-flex;
  align-items: center;
  &::before {
    content: "\f317";
    color: var(--text);
  }
}

p#max_num_warning:not([style]) {
  background: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-color: var(--warn);
  &::before {
    font-size: 24px;
    content: "\e002";
    color: var(--warn);
  }
}

button, span.cancel-photo-upload {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding-inline: 2.5px;
  background-image: none;
}
span.ui-button-text {padding: 0;}
.cancel-photo-upload {
  background: none;
  margin: 0;
}
.delete-photo::before {content: "\e872";}
.undelete-photo::before {content: "\e938";}
.cancel-photo-upload::before {content: "\e872";}